<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map of vacancies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--build:css main.css-->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="../bower_components/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet">
    <link href="../bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <!--endbuild-->
</head>
<body ng-app="gmapApp" ng-cloak>

<div class="container">

<div ng-controller="gmapController">
    <div class="col-xs-12 col-sm-3">
        <form class="col-xs-12">
            <div class="form-group row">
                <label class="col-sm-3" for="text">Text</label>
                <div class="col-sm-offset-1 col-sm-8">
                    <input  id="text" type="text" ng-model="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" for="experience">Experience</label>
                <div class="col-sm-offset-1 col-sm-8">
                    <select id="experience"
                            ng-options="item.name for (key, item) in expItems" ng-model="expSelected">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="employment" class="col-sm-3">Employment</label>
                <div class="col-sm-offset-1 col-sm-8">
                    <select id="employment"
                            ng-options="item.name for (key, item) in emplItems" ng-model="emplSelected">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="schedule" class="col-sm-3">Schedule</label>
                <div class="col-sm-offset-1 col-sm-8">
                    <select id="schedule"
                            ng-options="item.name for (key, item) in scheduleItems" ng-model="shSelected">
                    </select>
                </div>
                </div>
            <div class="form-group row">
            <label for="currency" class="col-sm-3">Currency</label>
                <div class="col-sm-offset-1 col-sm-8">
                    <select id="currency"
                            ng-options="item.name for (key, item) in currItems" ng-model="currSelected">
                    </select>
                </div>
            </div>
            <div class="form-group row">
            <label for="salary" class="col-sm-3">Salary</label>
                <div class="col-sm-offset-1 col-sm-8">
                    <select id="salary"
                           ng-options="item.name for (key, item) in salaryItems" ng-model="salarySelected">
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="updateCriteria()">Search</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-9">
       <leaflet lf-center="minsk" markers="markers" layers="layers"
             width="680px" height="480px"></leaflet>
    </div>
</div>

</div>

    <!--build:js main.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <!-- <script src="./app.module.js"></script>
    <script src="./vmap/vmap.controller.js"></script>
    <script src="./vmap/vmap.service.js"></script> -->
    <!-- endbuild -->

    <script src="all.js"></script>
</body>
</html>